@import "../../../assets/base/mixins";
@import "../../../assets/base/variables";

.conteiner {
    overflow: hidden;
    user-select: none;
    transition: transform 1s;
    display: flex;
    background-color: lightgrey;
}

.menu__section {
    margin-top: 25vh;
    margin-left: 1vw;
    width: 20%;
    height: 70vh;
    border-radius: 10px;
    background-color: chartreuse;
}

.product__section {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    width: 75%;
    margin: 25vh auto 0vh;
}

.container__card {
    width: 280px;
    height: 500px;
    margin: 50px 30px;
}

.card {
    border-radius: 25px;
    box-shadow: -11px 11px 1px rgba(0, 0, 0, 0.3);
}

.card-head {
    position: relative;
    height: 252px;
    background: $light-black-color;
    border-radius: 25px 25px 0 0;
}

.product-img {
    width: 290px;
    height: 230px;
    border-radius: 25px 5px 5px 5px;
    position: absolute;
    left: 0;
    object-fit: cover;
    margin-top: 0px;
    margin-left: 8px;
}

.card-body {
    height: 255px;
    background: #fff;
    border-radius: 0 0 25px 25px;
}

.product-title {
    padding: 5px;
    display: block;
    font-size: 18px;
    font-family: $font-russo;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.badge {
    position: relative;
    font-size: 14px;
    font-family: $font-gothic;
    color: #fff;
    background: #11e95b;
    padding: 2px 5px;
    border-radius: 4px;
    top: -2px;
    margin-left: 5px;
}


.product-price {
    position: absolute;
    background: #11e95b;
    padding: 7px 20px;
    text-align: center;
    display: inline-block;
    font-size: 24px;
    font-weight: 200;
    color: #fff;
    border-radius: 7px;
    margin-top: 53px;
    margin-left: -5px;
    box-shadow: -10px 20px 15px -10px rgba(17, 233, 91, 0.3);
}

.product-price b {
    margin-left: 5px;
}
