<div class="conteiner" [style.transform]="menuActive">
    <section class="menu__section">
        <ul class="navbar-nav mr-auto" *ngFor="let cat of allCategory">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['shop/', cat.name]">{{ cat.name }}</a>
            </li>
        </ul>
    </section>
    <section class="product__section">
        <div class="container__card" *ngFor="let prod of products">
            <div class="card">
                <div class="card-head">
                    <img [src]="prod.image" alt="prod" class="product-img">
                </div>
                <div class="card-body">
                    <div class="product-desc">
                        <span class="product-title">
                            {{ prod.name }}
                        </span>
                        <span class="badge">
                            {{ prod.category.name }}
                        </span>
                    </div>
                    <div class="product-properties">
                        <div style="display: flex;justify-content: space-around;" *ngIf="prod.size.length">
                            <span *ngFor="let size of prod.size">
                                <label style="cursor: pointer;font-size: 16px;" for="size">{{size}}</label>
                                <input style="cursor: pointer;margin-left: 5px;" type="checkbox" [id]="size"
                                    [value]="size">
                            </span>
                        </div>
                        <div style="font-size: 16px;" *ngIf="prod.characteristics[0].gender">
                            <span style="background: red;color: white;border-radius: 2px;">For :{{ prod.characteristics[0].gender }}</span>
                        </div>
                        <div *ngIf="prod.characteristics[0].battery">
                            <div class="characteristics" *ngFor="let item of prod.characteristics">
                                <span><b>Battery Capacity: </b>{{ item.battery }} kWh</span>
                                <span><b>Range: </b>{{ item.range }} miles depending on use</span>
                                <span><b>Top Speed: </b>{{ item.topSpeed }} mph</span>
                                <span><b>Weight: </b>{{ item.weight }} lbs</span>
                            </div>
                        </div>
                        <div class="price">
                            <span class="product-price">
                                USD<b>{{ prod.price }}</b>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>