@import "../../../assets/base/mixins";
@import "../../../assets/base/variables";

.conteiner {
    padding-top: 25vh;
    background-color: $light-black-color;
    overflow: hidden;
    user-select: none;
    transition: transform 1s;
    padding-bottom: 2vh;
}

.title {
    font-size: 70px;
    text-align: center;
    color: $white-color;
    font-family: $font-russo;
}

.basket {
    margin-top: 10vh;
    @include flexbox(flex, space-around, center);
}

.table__image {
    width: 50px;
    height: 50px;
}

.delete__product {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
    &:hover {
        transition: transform 0.5s;
        transform: rotate(90deg);
        box-shadow: 0 0 1px 3px rgba(#8a3b58, 0.4), 0 0 1px 6px rgba(#8a3b58, 0.1), 0 0 1px 9px rgba(#8a3b58, 0.1);
    }
}

.less__product {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    cursor: pointer;
}

.more__product {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    cursor: pointer;
}

.total {
    width: 20px;
    height: 20px;
    font-family: $font-gothic;
}

.table__empty {
    width: 80%;
    margin: 100px auto;
    padding: 20px;
    background-color: $white-color;
    border-radius: 10px;
    font-size: 18px;
    font-family: $font-gothic;
    @include flexbox(flex, center, center, column);
}

.table {
    width: 65%;
    padding: 20px;
    background-color: $light-black-color;
    color: $white-color;
    border-radius: 10px;
    font-size: 18px;
    font-family: $font-gothic;
    @include flexbox(flex, center, center, column);
    &__tr {
        width: 100%;
        height: 8vh;
        border-bottom: 1px solid lightgrey;
        @include flexbox(flex, flex-start, center);
        & .td:nth-child(1) {
            width: 10%;
        }
        & .td:nth-child(2) {
            width: 40%;
        }
        & .td:nth-child(3) {
            width: 15%;
        }
        & .td:nth-child(4) {
            width: 20%;
        }
        & .td:nth-child(5) {
            display: flex;
            justify-content: center;
            width: 15%;
        }
    }
    & .thead {
        font-size: 20px;
        font-family: $font-russo;
    }
    & .body {
        @include flexbox(flex, flex-start, center);
    }
    & .footer__td:nth-child(1) {
        @include flexbox(flex, flex-end, center);
        font-family: $font-russo;
        color: red;
        font-size: 20px;
        width: 80%;
    }
    & .footer__td:nth-child(2) {
        @include flexbox(flex, center, center);
        font-family: $font-russo;
        font-size: 24px;
        width: 20%;
    }
    & .button {
        @include flexbox(flex, flex-end, center);
        & button {
            width: 20%;
            height: 50px;
            font-family: $font-russo;
            color: $white-color;
            font-size: 24px;
            background-color: orange;
            border: 1px solid orange;
            outline: none;
            border-radius: 5px;
            &:hover {
                box-shadow: 0px 0px 1px 1px orange;
            }
        }
    }
}

.information {
    width: 30%;
    & input {
        border-bottom: 1px solid $white-color;
    }
    & label {
        font-size: 18px;
        font-family: $font-russo;
        color: $white-color;
    }
}

.card {
    display: none;
}

@media screen and (max-device-width: $breakpoint-tablet) and (min-device-width: $breakpoint-phones) {
    .title {
        font-size: 40px;
    }
    .basket {
        @include flexbox(flex, center, center, column-reverse);
    }
    .table {
        display: none;
    }
    .information {
        width: 70%;
    }
    .card {
        display: block;
        width: 90%;
        background-color: $light-black-color;
        border: none;
        &__prod {
            @include flexbox(flex);
            width: 100%;
            height: 40vh;
            margin-top: 10px;
            &--image {
                width: 50%;
                height: 100%;
                & img {
                    border-radius: 3px;
                    width: 100%;
                    height: 80%;
                }
            }
            &--count {
                @include flexbox(flex, center, center);
                font-size: 30px;
                color: $white-color;
            }
            &--content {
                @include flexbox(flex, space-between, center, column);
                padding: 5px;
                width: 50%;
                height: 100%;
                color: $white-color;
                font-family: $font-russo;
                & h3 {
                    text-align: center;
                }
                & div {
                    font-size: 20px;
                    height: 15%;
                }
            }
            &--footer {
                padding: 5px;
                @include flexbox(flex, center, center, column);
                color: $white-color;
                font-size: 18px;
                font-family: $font-russo;
            }
            &--button {
                margin: 10px;
                @include flexbox(flex, flex-end);
                & button {
                    width: 40%;
                    height: 50px;
                    font-family: $font-russo;
                    color: $white-color;
                    font-size: 24px;
                    background-color: orange;
                    border: 1px solid orange;
                    outline: none;
                    border-radius: 5px;
                    &:hover {
                        box-shadow: 0px 0px 1px 1px orange;
                    }
                }
            }
        }
    }
}
