<div class="conteiner" [style.transform]="menuActive">
    <div class="title">Make order</div>
    <section *ngIf="!basket.length" class="table__empty" style="min-height: 20vh;margin-top: 50px;margin-bottom: 50px;">
        <h2 style="font-family: Russo;font-size: 24px;">The basket is empty</h2><img style="width: 50px;height: 50px;"
            src="assets/images/shopping-basket.svg" alt="basket">
    </section>
    <div class="basket">
        <section *ngIf="basket.length" class="information">
            <form class="form">
                <div class="form-group">
                    <label for="firstName1">My first name: </label>
                    <input type="text" class="form-control" id="firstName1" [(ngModel)]="firstName" name="firstName">
                </div>
                <div class="form-group">
                    <label for="lastName1">My last name: </label>
                    <input type="text" class="form-control" id="lastName1" [(ngModel)]="lastName" name="lastName">
                </div>
                <div class="form-group">
                    <label for="phone1">My phone: </label>
                    <input type="text" class="form-control" id="phone1" [(ngModel)]="phone" name="phone">
                </div>
                <div class="form-group">
                    <label for="region1">My city: </label>
                    <input type="text" class="form-control" id="region1" [(ngModel)]="region" name="region">
                </div>
                <div class="form-group">
                    <label for="city1">My city: </label>
                    <input type="text" class="form-control" id="city1" [(ngModel)]="city" name="city">
                </div>
                <div class="form-group">
                    <label for="street1">My street: </label>
                    <input [(ngModel)]="street" name="street" type="text" class="form-control" id="street1">
                </div>
                <div class="form-group">
                    <label for="house1">My house: </label>
                    <input [(ngModel)]="house" name="house" type="text" class="form-control" id="house1">
                </div>
                <div class="form-group comments" style="display: flex;flex-direction: column;">
                    <label for="comments1">My Comments: </label>
                    <textarea [(ngModel)]="comments" name="comments" id="comments1" cols="30" rows="5"
                        style="border-radius: 3px;"></textarea>
                </div>
            </form>
        </section>
        <section *ngIf="basket.length" class="table">
            <div class="table__tr thead">
                <div class="td"></div>
                <div class="td">Product</div>
                <div class="td">Price</div>
                <div class="td" style="display: flex;justify-content: center;">Amount</div>
                <div class="td">Total price</div>
            </div>
            <div class="table__tr body" *ngFor="let prod of basket">
                <div class="td"><img (click)="closeModal(closeTemplate)" (click)="indexProduct(prod)"
                        class="delete__product" src="assets/images/close.svg" alt="delete__product"></div>
                <div class="td"><img class="table__image" [attr.src]="prod?.image" [alt]="prod.name"></div>
                <div class="td">{{ prod.price }}$</div>
                <div class="td" style="display: flex;justify-content: center;">
                    <span class="less__product" (click)="prodCount(prod, false)">-</span>
                    <div class="total">{{ prod.count }}</div>
                    <span class="more__product" (click)="prodCount(prod, true)">+</span>
                </div>
                <div class="td">{{ prod.price * prod.count }}$</div>
            </div>
            <div *ngIf="IfShow" class="table__tr footer">
                <div class="footer__td">Register and get a discount from 1% to 5%</div>
                <div class="footer__td">{{ totalPrice }}$</div>
            </div>
            <div *ngIf="!IfShow" class="table__tr footer">
                <div class="footer__td">{{ firstName }} {{ lastName }} your discount {{ discount }} % price without
                    discount {{
                    totalPrice }} $</div>
                <div class="footer__td">{{ (totalPrice * (100 - discount)/100).toFixed() }}$</div>
            </div>
            <div class="table__tr button">
                <button (click)="addOrder()">Buy</button>
            </div>
        </section>
        <section *ngIf="basket.length" class="card">
            <div class="card__prod" *ngFor="let prod of basket">
                <div class="card__prod--image">
                    <img [attr.src]="prod?.image" [alt]="prod.name">
                    <div class="card__prod--count">
                        <span class="less__product" (click)="prodCount(prod, false)">-</span>
                        <div class="total">{{ prod.count }}</div>
                        <span class="more__product" (click)="prodCount(prod, true)">+</span>
                    </div>
                </div>
                <div class="card__prod--content">
                    <h3>{{ prod.name }}</h3>
                    <p>{{ prod.category.name }}</p>
                    <div>{{ prod.price * prod.count }}$</div>
                </div>
            </div>
            <div *ngIf="IfShow" class="card__prod--footer">
                <div>Register and get a discount from 1% to 5%</div>
                <div style="width: 100%;display: flex;justify-content: flex-end;font-size: 22px;">{{ totalPrice }}$</div>
            </div>
            <div *ngIf="!IfShow" class="card__prod--footer">
                <div>{{ firstName }} {{ lastName }} your discount {{ discount }} % price without
                    discount {{
                    totalPrice }} $</div>
                <div style="width: 100%;display: flex;justify-content: flex-end;font-size: 22px;">{{ (totalPrice * (100 - discount)/100).toFixed() }}$</div>
            </div>
            <div class="card__prod--button">
                <button (click)="addOrder()">Buy</button>
            </div>
        </section>
    </div>
</div>
<ng-template #closeTemplate>
    <div class="modal-body text-center">
        <button type="button" (click)="modalRef.hide()" class="btn btn-dark mr-1">Dismiss</button>
        <button type="button" (click)="deleteProduct()" (click)="modalRef.hide()" class="btn btn-danger">Delete</button>
    </div>
</ng-template>