<div class="conteiner" [style.transform]="menuActive">
    <section *ngIf="IfShow" class="reserve" id="reserve">
        <div class="reserve__content">
            <h2>RESERVE YOUR ARC VECTOR</h2><br>
            <p>Reserve your Arc Vector now - Our first model is limited to 399 units with first customer deliveries
                starting in the
                summer of 2020. If you're interested in reserving your own Vector, please fill in the short form or call
                +44 (0)2476
                920045 and one of our team will be delighted to help you on the journey to joining the Arc family and
                owning a Vector.</p>
        </div>
        <div class="reserve__form">
            <div>
                <form name="form" class="form">
                    <div class="form__group field">
                        <input (input)="emailRegExp()" [style.border-bottom-color]="emailRegExp() ? 'red' : 'white'"
                            [(ngModel)]="email" type="input" class="form__field" autocomplete="off"
                            placeholder="Email address" name="email" id='email' required />
                        <label for="email" class="form__label">Email address</label>
                    </div>
                    <div class="form__group field">
                        <input (input)="passwordRegExp()"
                            [style.border-bottom-color]="passwordRegExp() ? 'red' : 'white'" [(ngModel)]="password"
                            type="input" class="form__field" autocomplete="off" placeholder="Password" name="password"
                            id='password' required />
                        <label for="password" class="form__label">Password</label>
                    </div>
                    <div class="form__group field">
                        <input (input)="phoneRegExp()" [style.border-bottom-color]="phoneRegExp() ? 'red' : 'white'"
                            [(ngModel)]="phone" type="input" class="form__field" autocomplete="off"
                            placeholder="Phone number" name="number" id='number' required />
                        <label for="number" class="form__label">Phone number</label>
                    </div>
                    <div class="form__group field">
                        <input (input)="regionRegExp" [style.border-bottom-color]="regionRegExp() ? 'red' : 'white'"
                            [(ngModel)]="region" type="input" class="form__field" autocomplete="off"
                            placeholder="Region" name="region" id='region' required />
                        <label for="region" class="form__label">Region</label>
                    </div>
                    <div class="form__group field">
                        <textarea (input)="commentsRegExp()"
                            [style.border-bottom-color]="commentsRegExp() ? 'red' : 'white'" [(ngModel)]="comments"
                            name="comments" id="comments" class="form__field" autocomplete="off"
                            placeholder="comments"></textarea>
                        <label for="comments" class="form__label">Comments (optional)</label>
                    </div>
                </form>
            </div>
            <div class="reserve__btn">
                <button (click)="signUpUser()" class="reserve__btn--more">LEARN MORE</button>
            </div>
        </div>
    </section>
    <section class="contacts">
        <div class="bottom">
            <div class="contacts__logo">
                <img class="contacts__logo--img" src="assets/images/arc-logo-grey.svg" alt="...">
            </div>
            <div class="contacts__office">
                <h5>HEAD OFFICE</h5>
                <span>Priory Road, Wolston,</span>
                <span>Coventry CV8 3FX.</span>
                <span>United Kingdom</span>
            </div>
            <div class="contacts__sales">
                <h5>SALES</h5>
                <span>sales@arcvehicle.com</span>
                <span>+44 (0)2476 920045</span>
            </div>
            <div class="contacts__media">
                <h5>MEDIA</h5>
                <span>media@arcvehicle.com</span>
                <span>+44 (0)2476 920045</span>
            </div>
            <div class="contacts__networks">
                <a href="https://www.instagram.com/ArcVehicle/">
                    <img src="assets/images/instagram-logo.svg" alt="instagram">
                </a>
                <a href="https://twitter.com/arcvehicle?lang=en">
                    <img src="assets/images/twitter-black-shape.svg" alt="twitter">
                </a>
                <a href="https://www.facebook.com/arcvehicle/">
                    <img src="assets/images/facebook-app-symbol.svg" alt="facebook">
                </a>
            </div>
        </div>
        <div class="contacts__copyright">
            <span>©2019 ARC Vehicle Ltd. Registered in England & Wales 10702899. VAT Registration 289773038</span>
        </div>
    </section>
</div>