@font-face {
    font-family: Russo;
    src: url(../../assets/fonts/Russo_One/RussoOne-Regular.ttf);
    font-style: normal;
}

@font-face {
    font-family: Gothic;
    src: url(../../assets/fonts/Sawarabi_Gothic/SawarabiGothic-Regular.ttf);
    font-style: normal;
}
