@import "../../../assets/base/mixins";
@import "../../../assets/base/variables";

.conteiner {
    overflow: hidden;
    user-select: none;
    transition: transform 1s;
}

.line {
    width: 100%;
    height: 20vh;
    background-color: $light-black-color;
}

.user {
    height: 80vh;
    width: 100%;
    @include flexbox(flex, center, center);
    &__image {
        @include flexbox(flex, center, center);
        width: 40%;
        height: 100%;
        & img {
            cursor: pointer;
            width: 80%;
            height: 80%;
            border-radius: 30%;
            object-fit: cover;
        }
    }
    &__content {
        padding: 10px;
        @include flexbox(flex, space-around, center, column);
        width: 60%;
        height: 100%;
        &--form {
            width: 80%;
            @include flexbox(flex, space-around, center);
            & input {
                width: 100%;
                border: none;
                outline: none;
                font-size: 18px;
            }
            & label {
                width: 50%;
                font-size: 18px;
                padding-bottom: 12px;
            }
        }
        &--update {
            @include flexbox(flex, center, center);
            width: 100%;
            height: 10%;
            & button {
                font-size: 20px;
                font-family: $font-russo;
                width: 80%;
                height: 100%;
                background-color: brown;
                border: 1px solid brown;
                border-radius: 10px;
                color: white;
                outline: none;
            }
        }
        &--save {
            @include flexbox(flex, center, center);
            width: 100%;
            height: 10%;
            & button {
                font-size: 20px;
                font-family: $font-russo;
                width: 80%;
                height: 100%;
                background-color: orange;
                border: 1px solid orange;
                border-radius: 10px;
                color: white;
                outline: none;
            }
        }
    }
}

.orders {
    margin: 50px auto 50px;
    width: 90%;
    min-height: 10vh;
    &__date {
        font-size: 24px;
        font-family: $font-russo;
    }
    &__content{
      @include flexbox(flex, flex-start, center, row, wrap);
      flex-wrap: wrap; 
    }
    &__card{
        @include flexbox(flex);
        font-family: $font-russo;
        margin-right: 20px;
        margin-bottom: 20px;
        width: 300px;
        height: 200px;
        & img{
            width: 200px;
            height: 200px;
            border-radius: 5px;
        }
    }
    &__total{
        @include flexbox(flex, center, center);
        height: 200px;
        width: 200px;
        background-color: $light-black-color;
        color: $white-color;
        font-family: $font-russo;
        border-radius: 5px;
        font-size: 18px;
    }
}

@media screen and (max-device-width: 992px) and (min-device-width: $breakpoint-phones) {
    .user {
        min-height: 120vh;
        @include flexbox(flex, center, center, column);
        &__image {
            width: 100%;
            height: 50%;
            & img {
                width: 70%;
                height: 70%;
                border-radius: 10%;
            }
        }
        &__content {
            width: 100%;
            height: 50%;
        }
    }
}
