<div class="conteiner" [style.transform]="menuActive">
    <section class="wrapper">
        <img class="wrapper__img" src="assets/images/Arc_is_on_a_mission-1.jpg" alt="moto">
        <div class="wrapper__content">
            <h2>ARC IS ON A MISSION</h2>
            <p>Arc is on a mission to explore Earth in state-of-the-art
                style, combined with a promise to try to protect it.</p>
        </div>
    </section>
    <section class="family">
        <div class="family__content">
            <h2>MEET THE ARC FAMILY</h2>
            <p>Arc is a British business, committed to building products out of our UK HQ.</p><br>
            <p>We are a heady mix of Engineers, Designers and Business Leaders who have worked across diverse vehicle
                projects and
                beyond. We have been lucky enough to be part of some of the highest performance, prestigious and
                luxurious vehicles ever
                created. We incorporate technical specialities not normally found at vehicle makers at all - Arc takes a
                real first
                principle approach.</p><br>
            <p>We love journeys and experiences, some of us like travelling quickly, some are more methodical and
                technical. But we
                hold one thing in common - attitude. To unselfishly do the best that can be done with the technology and
                materials
                around us. It is this attitude which when pulled together makes Arc such a special business, and in
                turn, makes special
                vehicles.</p><br>
            <p>You will find no business more dedicated to the pursuit of perfection in its field. The Arc family is
                welcoming and
                inclusive - we look forward to getting to know you more.</p>
        </div>
        <div class="family__image"></div>
    </section>
    <section class="values">
        <img class="values__img" src="assets/images/values-they-atter.jpg" alt="moto">
        <div class="values__content">
            <h2>VALUES - THEY MATTER</h2>
            <p>To be Spirited - in every sense of the word - in every
                action we
                take.</p><br>
            <p>To be Brave and Uncompromising - to take the road that others
                shy away from and to light the way for those to follow.</p><br>
            <p>To Facilitate the Escape - creating products, experiences and
                journeys that set us free.</p><br>
            <p>To be True - We may finish the job with our heads,
                but we lead with our heart</p><br>
            <p>To chase Perfection - in our ideas, our concepts, our design, our
                engineering, our quality...Always restless.</p>
        </div>
    </section>
    <section class="alchemists">
        <div class="alchemists__image"></div>
        <div class="alchemists__content">
            <p>We are alchemists, combining worlds together.<br>
                We are purposeful, beautiful melting pot - challenging perception.<br>
                We built machines that confront the elements while protecting them - machines that feel.<br>
                like second nature.<br>
                We are craftspeople, perfectionists, masters of our individual arts, striving together to<br>
                produce motorcycles to be proud of.<br></p>
        </div>
    </section>
    <section class="future">
        <div class="future__image"></div>
        <div class="future__content">
            <h2>THE FUTURE</h2><br>
            <p>We at Arc are all enthusiasts passionate about vehicles and the enjoyment and meaning they can bring
                whether they be
                motorcycles, boats or snowmobiles. The changing world with ever-demanding regulations and restrictions
                means we have to
                invent new ways of doing what we love, and Arc sets out to do this without compromise. Other bikes and
                vehicles will
                follow as we establish Arc as the world's leading premium electric motorbike and recreational vehicle
                OEM.</p><br>
            <p>Despite global ambitions though, we're not building on an assembly line. This is a modern craftsmanship
                business, and
                all our machines will be hand-built. We are a British brand with a strong, uncompromising ethos. we are
                a business
                that's trying to do the right things for the right reasons. We're very passionate about what we do and
                want that to come
                through in the experience. Vector is the first contribution to that cause, using Arc as a voice for
                change.</p>
        </div>
    </section>
</div>