<div class="conteiner">
    <section class="wrapper">
        <img class="wrapper__img" src="assets/images/133A0001-Edit-b3.png" alt="moto">
        <div class="wrapper__content">
            <h2>INTRODUCING THE ARC VECTOR</h2>
            <p>The world's most advanced motorcycle.</p>
            <p>Availability strictly limited to 399 units.</p>
        </div>
    </section>
    <section class="vector">
        <div class="vector__content">
            <img src="assets/images/vector-logoX.svg" alt="logo">
            <p data-aos-anchor-placement="top-bottom">The Arc Vector is the most advanced electric
                motorcycle ever brought to market; one which utilises exotic
                materials,
                thoroughbred componentry, cutting-edge architecture and technological innovations that have never been
                applied
                to
                two-wheeled transport before.</p>
        </div>
        <div class="vector__link">
            <div class="vector__link--div">
                <img src="assets/images/bullet-point.svg" alt="...">
                <p>Personalised for each owner</p>
            </div>
            <div class="vector__link--div">
                <img src="assets/images/bullet-point.svg" alt="...">
                <p>Hand crafted in Britain</p>
            </div>
            <div class="vector__link--div">
                <img src="assets/images/bullet-point.svg" alt="...">
                <p>436km range, 40 minute charge time</p>
            </div>
        </div>
    </section>
    <section class="philosophy">
        <div class="philosophy__image"></div>
        <div class="philosophy__center">
            <h2>THE ARC PHILOSOPHY - EMBODIED IN VECTOR</h2><br>
            <p>Our revolutionary modular battery monocoque is a legacy free platform. Releasing the design process from
                the necessity
                to incorporate cross vehicle architecture - our architecture is bespoke to each vehicle maximising it's
                true potential.
                Arc's philosophy has manifested itself in our first product, the Vector - replacing the traditional
                chassis with the
                battery facilitates the Vector's class leading range and performance bike mass figures delivering a
                dynamic experience
                often lost with electric vehicles and especially motorcycles.</p><br>
            <p>Vector features patented front-end geometry, carbon fibre swingarms, custom Öhlins dampers and Brembo
                Stylema brake
                system. Reading about it is exciting, experiencing it - is something else.</p>
        </div>
    </section>
    <section class="specification">
        <div class="specification__image"></div>
        <div class="specification__title">
            <h2>SPECIFICATION</h2>
        </div>
        <div class="specification__bottom">
            <div class="specification__bottom--content">
                <img src="assets/images/weight-mass.svg" alt="weight">
                <p>Weight (Mass)</p>
                <p>220 kg</p>
            </div>
            <div class="specification__bottom--content">
                <img src="assets/images/acceleration.svg" alt="acceleration">
                <p>Acceleration</p>
                <p>0-100km/h in 3.2 s</p>
            </div>
            <div class="specification__bottom--content">
                <img src="assets/images/range.svg" alt="Range">
                <p>Range</p>
                <p>436 km</p>
            </div>
            <div class="specification__bottom--content">
                <img src="assets/images/charging.svg" alt="charging">
                <p>Charging time</p>
                <p>40 mins</p>
            </div>
        </div>
    </section>
    <section class="specification2">
        <div class="specification2__image"></div>
        <div class="specification2__center">
            <div class="specification2__center--title">
                <p>SPECIFICATION</p>
            </div>
            <div class="specification2__center--div">
                <img src="assets/images/bullet-point.svg" alt="...">
                <p>Volume/Voltage - 399</p>
            </div>
            <div class="specification2__center--div">
                <img src="assets/images/bullet-point.svg" alt="...">
                <p>Wheelbase - 1450</p>
            </div>
            <div class="specification2__center--div">
                <img src="assets/images/bullet-point.svg" alt="...">
                <p>Seat Height - 840</p>
            </div>
            <div class="specification2__center--div">
                <img src="assets/images/bullet-point.svg" alt="...">
                <p>Clutchless Single Gear Transmission</p>
            </div>
            <div class="specification2__center--div">
                <img src="assets/images/bullet-point.svg" alt="...">
                <p>ABS</p>
            </div>
            <div class="specification2__center--div">
                <img src="assets/images/bullet-point.svg" alt="...">
                <p>Traction Control</p>
            </div>
            <div class="specification2__center--div">
                <img src="assets/images/bullet-point.svg" alt="...">
                <p>Adaptive Regen</p>
            </div>
            <div class="specification2__center--div">
                <img src="assets/images/bullet-point.svg" alt="...">
                <p>Unique Arc Front End Suspension and Steering</p>
            </div>
            <div class="specification2__center--div">
                <img src="assets/images/bullet-point.svg" alt="...">
                <p>High Efficiency LED Lighting</p>
            </div>
            <div class="specification2__center--div">
                <img src="assets/images/bullet-point.svg" alt="...">
                <p>Different Selectable Ride and Environment Modes</p>
            </div>
        </div>
    </section>
    <section class="interface">
        <div class="interface__img">
            <img class="interface__img--img" src="assets/images/Human_Machine_Interface_Block_1_ret-1.png" alt="...">
        </div>
        <div class="interface__content">
            <div class="interface__content--text">
                <h2>HUMAN MACHINE INTERFACE</h2>
                <p>The unique Arc Pilot System delivers a transformational riding experience, providing you with
                    feedback and
                    notifications, keeping you safe and agile – freeing you to enjoy your journey and make the most of
                    your moment. Working
                    with Knox to develop the Origin armour and jacket system that houses the Pilot System's haptic.</p>
                <br>
                <p>In partnership with Hedon, Arc have developed the bespoke Arc Zenith helmet to facilitate the HUD
                    (Head-Up Display).
                    Composite technology, with premium and luxurious finishes, provides superb safety: a guiding star
                    for owners.</p>
            </div>
        </div>
    </section>
    <section class="head">
        <div class="head__content">
            <div class="head__content--text">
                <span>Human Machine Interface</span>
                <h2>HEAD UP DISPLAY (H.U.D.) HELMET</h2>
                <p>The Arc Zenith helmet's projection-based HUD (Head-up Display), developed in collaboration with
                    Hedon, is similar to
                    fighter pilot systems – a significant technological jump. The helmet's integral rear camera can be
                    shown through the HUD
                    and kicks in automatically when detecting anything in your blind spot.</p>
                <br>
                <p>The different modes are selected via a controller on the bike – or can be voice-activated and act
                    wirelessly. Completed
                    by a fitted WiFi headset, the Arc Zenith is technically advanced, comfortable, cool (in both senses
                    of the word) and
                    combines form and function seamlessly.</p>
            </div>
        </div>
        <div class="head__slider">
            <div class="head__slider--items">
                <carousel [interval]="false" [showIndicators]="false">
                    <slide style="margin-left: 10%;">
                        <img src="assets/images/arc-zenith-2.png" alt="zenith" style="display: block; width: 80%;">
                    </slide>
                    <slide style="margin-left: 10%;">
                        <img src="assets/images/arc-zenith-3.png" alt="zenith" style="display: block; width: 80%;">
                    </slide>
                    <slide style="margin-left: 10%;">
                        <img src="assets/images/arc-zenith-4.png" alt="zenith" style="display: block; width: 80%;">
                    </slide>
                </carousel>
            </div>
        </div>
    </section>
    <section class="system">
        <div class="system__slider">
            <div class="system__slider--items">
                <carousel [interval]="false" [showIndicators]="false">
                    <slide style="margin-left: 10%;">
                        <img src="assets/images/arc-origin-2.png" alt="zenith" style="display: block; width: 80%;">
                    </slide>
                    <slide style="margin-left: 10%;">
                        <img src="assets/images/arc-origin-4.png" alt="zenith" style="display: block; width: 80%;">
                    </slide>
                    <slide style="margin-left: 10%;">
                        <img src="assets/images/arc-origin-5.png" alt="zenith" style="display: block; width: 80%;">
                    </slide>
                    <slide style="margin-left: 10%;">
                        <img src="assets/images/arc-origin-3.png" alt="zenith" style="display: block; width: 80%;">
                    </slide>
                </carousel>
            </div>
        </div>
        <div class="system__content">
            <div class="system__content--text">
                <span>Human Machine Interface</span>
                <h2>ARC ORIGIN SYSTEM</h2>
                <p>A pioneering collaboration between Arc and Knox breaks new ground and takes immersive sensory
                    experiences and protection
                    to a new level. Arc Origin represents a game-changing advance in intelligent technology and the
                    complete riding
                    experience, making motorcycling even more immersive. There are three modes. Urban Mode focuses on
                    safety, alerting the
                    rider to dangers. Sports Mode gives the rider feedback on the bike's dynamic position by taking
                    G-Force related data.
                    Euphoric Mode lets you play music through the haptics – a feature that has to be experienced.</p>
            </div>
        </div>
    </section>
    <section class="materials">
        <div class="materials__image"></div>
        <div class="materials__content">
            <div class="materials__content--text">
                <h2>MATERIALS</h2>
                <p>The Arc code ensures that the right decisions are made to result in the best possible product with
                    the resources
                    available. Arc is about the perfect line of best fit ensuring the most premium product. From carbon
                    fibre to flax,
                    copper to sustainable leather. Always fit for purpose.</p><br>
                <p>Sustainability is at the forefront of the Arc mindset. Our planet facilitates our journeys, so we
                    build machines that
                    confront the elements while protecting them. Vector's design embodies sustainability for progress:
                    using the best-suited
                    materials, reducing mass, enhancing performance and minimizing waste.</p><br>
                <div class="materials__content--img">
                    <img src="assets/images/material-inset-01.jpg" alt="...">
                    <img src="assets/images/material-inset-02.jpg" alt="...">
                    <img src="assets/images/material-inset-03.jpg" alt="...">
                </div>
            </div>
        </div>
    </section>
    <section class="living">
        <div class="living__title">
            <h2>LIVING WITH VECTOR</h2>
        </div>
        <div class="living__center">
            <div class="living__center--boxs">
                <img src="assets/images/global-servicing.svg" alt="...">
                <h3>Global Servicing</h3>
                <p>When it's time for your Vector to be serviced, our experienced international team will be in touch
                    and will come to your
                    home or work to carry out the process.</p>
            </div>
            <div class="living__center--boxs">
                <img src="assets/images/charging-tiur-machine.svg" alt="...">
                <h3>Charging Your Machine</h3>
                <p>No need to worry about slow charge times. Our network of approved suppliers will fit an exclusive
                    high power charge
                    point in your home.</p>
            </div>
            <div class="living__center--boxs">
                <img src="assets/images/class-safety.svg" alt="...">
                <h3>Class Leading Safety</h3>
                <p>All Arc monocoques are tested to passenger car standards. This combined with our unique HMI makes
                    this the safest
                    motorcycle in the world.</p>
            </div>
        </div>
    </section>
    <section class="gallery">
        <div class="gallery__title">
            <div class="gallery__title--text">
                <h2>THE VECTOR GALLERY</h2>
            </div>
        </div>
        <div class="gallery__slider">
            <div class="gallery__slider--items">
                <carousel [interval]="false" [showIndicators]="false">
                    <slide>
                        <div class="slide">
                            <div class="left__big">
                                <img class="left__big--left"
                                    src="../../../assets/images/ARC_VECTOR_QUARTER_1706x2050.jpg" alt="zenith"
                                    style="display: block; width: 80%;">
                            </div>
                            <div class="right__small">
                                <img class="right__small--top"
                                    src="../../../assets/images/ARC_VECTOR_CLOSE_UP_05_1706x1024.jpg" alt="zenith"
                                    style="display: block; width: 80%;">
                                <img class="right__small--bottom"
                                    src="../../../assets/images/ARC_VECTOR_CLOSE_UP_02_1706x1024.jpg" alt="zenith"
                                    style="display: block; width: 80%;">
                            </div>
                        </div>
                    </slide>
                    <slide>
                        <div class="slide">
                            <div class="left__small">
                                <img class="left__small--top" src="assets/images/ARC_VECTOR_CLOSE_UP_08_1706x1024.jpg"
                                    alt="zenith" style="display: block; width: 80%;">
                                <img class="left__small--bottom"
                                    src="assets/images/ARC_VECTOR_CLOSE_UP_07_1706x1024.jpg" alt="zenith"
                                    style="display: block; width: 80%;">
                            </div>
                            <div class="right__big">
                                <img class="right__big--right" src="assets/images/ARC_VECTOR_FRONT_1706x2050.jpg"
                                    alt="zenith" style="display: block; width: 80%;">
                            </div>
                        </div>
                    </slide>
                    <slide>
                        <div class="slide">
                            <div class="left__big">
                                <img class="left__big--left"
                                    src="../../../assets/images/ARC_VECTOR_HERO_02_1706x2050.jpg" alt="zenith"
                                    style="display: block; width: 80%;">
                            </div>
                            <div class="right__small">
                                <img class="right__small--top"
                                    src="../../../assets/images/ARC_VECTOR_CLOSE_UP_01_1706x1024.jpg" alt="zenith"
                                    style="display: block; width: 80%;">
                                <img class="right__small--bottom"
                                    src="../../../assets/images/ARC_VECTOR_CLOSE_UP_03_1706x1024.jpg" alt="zenith"
                                    style="display: block; width: 80%;">
                            </div>
                        </div>
                    </slide>
                    <slide>
                        <div class="slide">
                            <div class="left__small">
                                <img class="left__small--top"
                                    src="../../../assets/images/ARC_VECTOR_CLOSE_UP_06_1706x1024.jpg" alt="zenith"
                                    style="display: block; width: 80%;">
                                <img class="left__small--bottom"
                                    src="../../../assets/images/ARC_VECTOR_CLOSE_UP_04_1706x1024.jpg" alt="zenith"
                                    style="display: block; width: 80%;">
                            </div>
                            <div class="right__big">
                                <img class="right__big--right" src="../../../assets/images/ARC_VECTOR_TOP_1706x2050.jpg"
                                    alt="zenith" style="display: block; width: 80%;">
                            </div>
                        </div>
                    </slide>
                    <slide>
                        <div class="slide">
                            <div class="left__big">
                                <img class="left__big--left" src="../../../assets/images/133A9945.jpg" alt="zenith"
                                    style="display: block; width: 80%;">
                            </div>
                            <div class="right__small">
                                <img class="right__small--top" src="../../../assets/images/133A0225.jpg" alt="zenith"
                                    style="display: block; width: 80%;">
                                <img class="right__small--bottom" src="../../../assets/images/133A0235.jpg" alt="zenith"
                                    style="display: block; width: 80%;">
                            </div>
                        </div>
                    </slide>
                    <slide>
                        <div class="slide">
                            <div class="left__small">
                                <img class="left__small--top" src="../../../assets/images/133A0247.jpg" alt="zenith"
                                    style="display: block; width: 80%;">
                                <img class="left__small--bottom" src="../../../assets/images/133A9879.jpg" alt="zenith"
                                    style="display: block; width: 80%;">
                            </div>
                            <div class="right__big">
                                <img class="right__big--right" src="../../../assets/images/133A9926.jpg" alt="zenith"
                                    style="display: block; width: 80%;">
                            </div>
                        </div>
                    </slide>
                </carousel>
            </div>
        </div>
    </section>
</div>