@import "../../../assets/base/mixins";
@import "../../../assets/base/variables";

.conteiner {
    overflow: hidden;
    user-select: none;
    transition: transform 1s;
}

.wrapper {
    position: relative;
    &__img {
        width: 100%;
        height: 99.7vh;
        object-fit: cover;
        box-shadow: 0px 4px 2px 2px black;
    }
    &__content {
        @include flexbox(flex, center, center, column);
        width: 420px;
        top: 70%;
        right: 12%;
        position: absolute;
        color: $white-color;
        & h2 {
            font-family: $font-russo;
            font-size: 26px;
            line-height: 2;
            text-align: end;
        }
        & p {
            font-family: $font-gothic;
            line-height: 1.5;
            font-size: 20px;
        }
    }
}

.vector {
    box-shadow: 0px 4px 2px 2px black;
    height: 40vh;
    background-color: #444949;
    @include flexbox(flex, space-around, center, row);
    &__content {
        @include flexbox(flex, center, flex-start, column);
        width: 40%;
        & img {
            margin-top: -5%;
            margin-bottom: 5%;
        }
        & p {
            font-family: $font-gothic;
            color: $white-color;
            font-size: 18px;
            line-height: 1.5;
            text-align: left;
        }
    }
    &__link {
        font-family: $font-gothic;
        @include flexbox(flex, center, flex-start, column);
        &--div {
            line-height: 2;
            @include flexbox(flex, center, center, row);
            & p {
                color: lightgrey;
                text-decoration: none;
            }
            & img {
                margin-right: 7px;
                height: 20px;
                width: 20px;
            }
        }
    }
}

.philosophy {
    width: 100%;
    height: 100vh;
    &__image {
        width: 100%;
        height: 100%;
        background-image: url(../../../assets/images/overhead-view.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    &__center {
        position: relative;
        width: 34%;
        top: -75%;
        margin-left: 17%;
        margin-right: -53%;
        color: $white-color;
        & h2 {
            font-family: $font-russo;
            font-size: 22px;
            line-height: 2;
        }
        & p {
            font-family: $font-gothic;
            text-align: left;
            font-size: 18px;
            line-height: 1.5;
        }
    }
}

.specification {
    width: 100%;
    height: 100vh;
    &__image {
        width: 100%;
        height: 100%;
        background-image: url(../../../assets/images/specification.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    &__title {
        @include flexbox(flex, center, center, row);
        position: relative;
        width: 34%;
        top: -70%;
        margin-left: 17%;
        margin-right: -53%;
        color: lightgray;
        position: relative;
        width: 50%;
        top: -85%;
        margin-left: 25%;
        margin-right: -25%;
        color: $white-color;
        & h2 {
            font-family: $font-russo;
            font-size: 30px;
        }
    }
    &__bottom {
        @include flexbox(flex, space-around, center, row);
        position: relative;
        width: 50%;
        top: -25%;
        margin-left: 25%;
        margin-right: -25%;
        color: $white-color;
        &--content {
            @include flexbox(flex, space-around, center, column);
            width: 25%;
            & img {
                margin-bottom: 5px;
            }
            & p {
                font-family: $font-gothic;
                text-align: left;
                font-size: 14px;
                line-height: 1.5;
            }
        }
    }
}

.specification2 {
    width: 100%;
    height: 100vh;
    &__image {
        width: 100%;
        height: 100%;
        background-image: url(../../../assets/images/specification_2.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    &__center {
        @include flexbox(flex, flex-start, flex-start, column);
        position: relative;
        width: 40%;
        top: -85%;
        margin-left: 12%;
        margin-right: -48%;
        &--title {
            font-family: $font-russo;
            line-height: 2.5;
            color: $white-color;
            font-size: 20px;
        }
        &--div {
            line-height: 2.5;
            @include flexbox(flex, center, center, row);
            & p {
                font-family: $font-gothic;
                color: gray;
                text-decoration: none;
            }
            & img {
                margin-right: 7px;
                height: 20px;
                width: 20px;
            }
        }
    }
}

.interface {
    width: 100%;
    height: 90vh;
    @include flexbox(flex, center, center, row);
    &__img {
        width: 50%;
        height: 100%;
        background-color: black;
        &--img {
            margin-left: 20%;
            width: 80%;
            height: 100%;
        }
    }
    &__content {
        @include flexbox(flex, center, center, column);
        background-color: black;
        height: 100%;
        width: 50%;
        &--text {
            width: 60%;
            color: $white-color;
            line-height: 1.5;
            & h2 {
                font-family: $font-russo;
                font-size: 22px;
                line-height: 2;
            }
            & p {
                font-family: $font-gothic;
                font-size: 16px;
                text-align: left;
            }
        }
    }
}

.head {
    width: 100%;
    height: 90vh;
    background: #232526;
    background: -webkit-linear-gradient(to left, #000000, #232526);
    background: linear-gradient(to left, #000000, #232526);
    @include flexbox(flex, center, center, row);
    &__content {
        @include flexbox(flex, center, flex-end, column);
        width: 50%;
        height: 100%;
        &--text {
            width: 60%;
            line-height: 1.5;
            & span {
                font-family: $font-gothic;
                color: lightgray;
            }
            & h2 {
                font-family: $font-russo;
                color: $white-color;
                font-size: 22px;
                line-height: 2;
            }
            & p {
                font-family: $font-gothic;
                color: lightgray;
                font-size: 16px;
                text-align: left;
            }
        }
    }
    &__slider {
        width: 50%;
        height: 100%;
        &--items {
            width: 90%;
        }
    }
}

.system {
    width: 100%;
    height: 110vh;
    @include flexbox(flex, center, center, row);
    background-color: black;
    &__content {
        @include flexbox(flex, center, flex-start, column);
        width: 50%;
        height: 100%;
        &--text {
            width: 60%;
            line-height: 1.5;
            & span {
                font-family: $font-gothic;
                color: lightgray;
            }
            & h2 {
                font-family: $font-russo;
                color: $white-color;
                font-size: 22px;
                line-height: 2;
            }
            & p {
                font-family: $font-gothic;
                color: lightgray;
                font-size: 16px;
                text-align: left;
            }
        }
    }
    &__slider {
        @include flexbox(flex, flex-end, center, column);
        width: 50%;
        height: 100%;
        &--items {
            width: 90%;
        }
    }
}

.materials {
    width: 100%;
    height: 90vh;
    &__image {
        width: 100%;
        height: 100%;
        background-image: url(../../../assets/images/materials.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    &__content {
        @include flexbox(flex, center, flex-start, column);
        position: relative;
        width: 60%;
        top: -85%;
        margin-left: 12%;
        margin-right: -48%;
        &--text {
            width: 60%;
            line-height: 1.5;
            & span {
                font-family: $font-gothic;
                color: lightgray;
            }
            & h2 {
                font-family: $font-russo;
                color: $white-color;
                font-size: 22px;
                line-height: 2;
            }
            & p {
                font-family: $font-gothic;
                color: lightgray;
                font-size: 16px;
                text-align: left;
            }
        }
        &--img {
            @include flexbox(flex, space-between, center, row);
        }
    }
}

.living {
    width: 100%;
    height: 90vh;
    background-color: #444949;
    position: relative;
    &__title {
        width: 50%;
        margin-left: 25%;
        margin-top: 5%;
        position: absolute;
        & h2 {
            font-family: $font-russo;
            color: $white-color;
            font-size: 22px;
            line-height: 2;
            text-align: center;
        }
    }
    &__center {
        position: absolute;
        @include flexbox(flex, space-around, center, row);
        &--boxs {
            @include flexbox(flex, flex-start, center, column);
            margin-top: 15%;
            width: 20%;
            & img {
                width: 50px;
                height: 50px;
            }
            & h3 {
                font-family: $font-russo;
                margin-top: 15px;
                color: lightgray;
                font-size: 22px;
                line-height: 2;
            }
            & p {
                font-family: $font-gothic;
                font-size: 18px;
                color: lightgray;
                line-height: 1.5;
                text-align: center;
            }
        }
    }
}

.gallery {
    width: 100%;
    height: 100vh;
    background-color: #1c1c1c;
    &__title {
        @include flexbox(flex, center, center, row);
        height: 10%;
        width: 100%;
        &--text {
            color: $white-color;
            font-size: 22px;
            line-height: 2;
        }
    }
    &__slider {
        margin: 0px auto;
        width: 90%;
        height: 95%;
        &--items {
            & .slide {
                @include flexbox(flex, center, space-between, row);
                width: 100%;
                & .left__big {
                    @include flexbox(flex, center, center, row);
                    &--left {
                        height: 100%;
                        width: 45%;
                    }
                }
                & .left__small {
                    @include flexbox(flex, space-between, center, column);
                    &--top {
                        height: 45%;
                        width: 45%;
                    }
                    &--bottom {
                        height: 45%;
                        width: 45%;
                    }
                }
                & .right__big {
                    @include flexbox(flex, center, center, row);
                    &--right {
                        height: 100%;
                        width: 45%;
                    }
                }
                & .right__small {
                    @include flexbox(flex, space-between, center, column);
                    &--top {
                        height: 45%;
                        width: 45%;
                    }
                    &--bottom {
                        height: 45%;
                        width: 45%;
                    }
                }
            }
        }
    }
}

@media screen and (max-device-width: 1430px) and (min-device-width: 988px) {
    .wrapper {
        &__content {
            & h2 {
                font-size: 22px;
            }
            & p {
                font-size: 18px;
            }
        }
    }
    .philosophy {
        &__center {
            width: 40%;
            top: -90%;
            & h2 {
                font-size: 22px;
            }
            & p {
                font-size: 16px;
            }
        }
    }
    .specification {
        &__title {
            top: -90%;
            & h2 {
                font-size: 28px;
            }
        }
        &__bottom {
            top: -30%;
        }
    }
    .specification2 {
        &__center {
            top: -90%;
        }
    }
    .system {
        height: 100vh;
    }
    .materials {
        &__content {
            width: 70%;
            top: -90%;
            &--img {
                & img {
                    width: 136px;
                    height: 129px;
                }
            }
        }
    }
    .living {
        &__center {
            &--boxs {
                & h3 {
                    font-size: 18px;
                }
                & p {
                    font-size: 16px;
                }
            }
        }
    }
}

@media screen and (max-device-width: 980px) and (min-device-width: $breakpoint-tablet) {
    .wrapper {
        &__content {
            width: 320px;
            right: 5%;
            color: $white-color;
            & h2 {
                font-size: 20px;
                line-height: 1.8;
            }
            & p {
                line-height: 1.3;
                font-size: 16px;
            }
        }
    }
    .vector {
        height: 60vh;
        @include flexbox(flex, space-around, center, column);
        &__content {
            @include flexbox(flex, center, flex-start, column);
            width: 80%;
            & img {
                margin-top: 5%;
                margin-bottom: 5%;
            }
            & p {
                font-size: 16px;
            }
        }
        &__link {
            margin-left: -50%;
            &--div {
                line-height: 2;
            }
        }
    }
    .philosophy {
        &__center {
            position: relative;
            width: 34%;
            top: -95%;
            margin-left: 12%;
            & h2 {
                font-size: 20px;
                line-height: 1.6;
            }
            & p {
                font-size: 16px;
                line-height: 1.2;
            }
        }
    }
    .specification {
        &__title {
            @include flexbox(flex, center, center, row);
            position: relative;
            width: 34%;
            top: -90%;
            width: 50%;
            margin-left: 25%;
            margin-right: -25%;
            & h2 {
                font-size: 24px;
            }
        }
        &__bottom {
            width: 70%;
            top: -35%;
            margin-left: 15%;
            margin-right: -15%;
        }
    }
    .specification2 {
        &__center {
            width: 35%;
            top: -90%;
            margin-left: 10%;
            margin-right: -48%;
            &--title {
                line-height: 2;
                font-size: 20px;
            }
            &--div {
                line-height: 2;
                @include flexbox(flex, center, flex-start, row);
            }
        }
    }
    .interface {
        @include flexbox(flex, center, center, column);
        &__img {
            width: 100%;
            height: 60%;
            background-color: black;
            &--img {
                margin-left: 25%;
                width: 50%;
                height: 100%;
            }
        }
        &__content {
            padding-top: 10px;
            height: 50%;
            width: 100%;
            &--text {
                width: 80%;
                color: $white-color;
                line-height: 1.5;
                & h2 {
                    font-size: 18px;
                    line-height: 1.5;
                }
                & p {
                    font-size: 16px;
                    line-height: 1.3;
                    text-align: justify;
                }
            }
        }
    }
    .head {
        width: 100%;
        height: 100vh;
        background: #232526;
        background: -webkit-linear-gradient(to top, #000000, #232526);
        background: linear-gradient(to top, #000000, #232526);
        @include flexbox(flex, center, center, row-reverse);
        &__content {
            margin-top: -150px;
            @include flexbox(flex, center, center, column);
            width: 100%;
            height: 50%;
            &--text {
                width: 80%;
                line-height: 1.5;
                & span {
                    color: lightgray;
                }
                & h2 {
                    font-size: 20px;
                    line-height: 1.6;
                }
                & p {
                    color: lightgray;
                    font-size: 16px;
                    text-align: left;
                }
            }
        }
        &__slider {
            margin-top: -120px;
            margin-left: 9%;
            width: 80%;
            height: 50%;
            &--items {
                width: 90%;
            }
        }
    }
    .system {
        width: 100%;
        height: 110vh;
        @include flexbox(flex, center, center, column);
        background-color: black;
        &__content {
            margin-bottom: -200px;
            @include flexbox(flex, center, center, column);
            width: 100%;
            height: 40%;
            &--text {
                width: 80%;
                line-height: 1.5;
                & span {
                    color: lightgray;
                }
                & h2 {
                    font-size: 22px;
                    line-height: 2;
                }
                & p {
                    color: lightgray;
                    font-size: 16px;
                    text-align: left;
                }
            }
        }
        &__slider {
            margin-left: 20px;
            margin-bottom: -120px;
            @include flexbox(flex, flex-end, center, column);
            width: 80%;
            height: 50%;
            &--items {
                width: 90%;
            }
        }
    }
    .materials {
        width: 100%;
        height: 90vh;
        &__content {
            @include flexbox(flex, center, flex-start, column);
            position: relative;
            width: 95%;
            top: -90%;
            margin-left: 12%;
            margin-right: -48%;
            &--text {
                width: 80%;
                line-height: 1.5;
                & span {
                    color: lightgray;
                }
                & h2 {
                    color: $white-color;
                    font-size: 22px;
                    line-height: 2;
                }
                & p {
                    color: lightgray;
                    font-size: 16px;
                    text-align: justify;
                }
            }
            &--img {
                @include flexbox(flex, space-between, center, row);
            }
        }
    }
    .living {
        &__title {
            margin-top: 8%;
            & h2 {
                font-size: 20px;
            }
        }
        &__center {
            &--boxs {
                width: 25%;
                & img {
                    width: 50px;
                    height: 50px;
                }
                & h3 {
                    font-size: 20px;
                    line-height: 1.7;
                }
                & p {
                    font-size: 16px;
                    line-height: 1.3;
                    text-align: justify;
                }
            }
        }
    }
    .gallery {
        width: 100%;
        height: 80vh;
        background-color: #1c1c1c;
        &__title {
            @include flexbox(flex, center, center, row);
            height: 10%;
            width: 100%;
            &--text {
                color: $white-color;
                font-size: 22px;
                line-height: 2;
            }
        }
        &__slider {
            margin: 0px auto;
            width: 99%;
            height: 99%;
            &--items {
                & .slide {
                    @include flexbox(flex, center, space-between, row);
                    width: 100%;
                    & .left__big {
                        @include flexbox(flex, center, center, row);
                        &--left {
                            height: 100%;
                            width: 45%;
                        }
                    }
                    & .left__small {
                        @include flexbox(flex, space-between, center, column);
                        &--top {
                            height: 45%;
                            width: 45%;
                        }
                        &--bottom {
                            height: 45%;
                            width: 45%;
                        }
                    }
                    & .right__big {
                        @include flexbox(flex, center, center, row);
                        &--right {
                            height: 100%;
                            width: 45%;
                        }
                    }
                    & .right__small {
                        @include flexbox(flex, space-between, center, column);
                        &--top {
                            height: 45%;
                            width: 45%;
                        }
                        &--bottom {
                            height: 45%;
                            width: 45%;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-device-width: $breakpoint-tablet) and (min-device-width: $breakpoint-phonesL){
    .wrapper {
        &__content {
            width: 280px;
            right: 5%;
            & h2 {
                font-size: 18px;
                line-height: 1.6;
            }
            & p {
                line-height: 1.3;
                font-size: 14px;
            }
        }
    }
    .vector {
        height: 60vh;
        @include flexbox(flex, space-around, center, column);
        &__content {
            @include flexbox(flex, center, flex-start, column);
            width: 80%;
            & img {
                margin-top: 5%;
                margin-bottom: 5%;
            }
            & p {
                font-size: 16px;
            }
        }
        &__link {
            margin-left: -10%;
            &--div {
                line-height: 2;
            }
        }
    }
    .philosophy {
        &__center {
            position: relative;
            width: 54%;
            top: -95%;
            margin-left: 12%;
            & h2 {
                font-size: 17px;
                line-height: 1.7;
            }
            & p {
                font-size: 15px;
                line-height: 1.4;
            }
        }
    }
    .specification {
        &__title {
            @include flexbox(flex, center, center, row);
            position: relative;
            width: 34%;
            top: -90%;
            width: 50%;
            margin-left: 25%;
            margin-right: -25%;
            & h2 {
                font-size: 24px;
            }
        }
        &__bottom {
            @include flexbox(flex, center, center, row, wrap);
            width: 100%;
            top: -45%;
            margin-left: 0%;
            margin-right: 0%;
            &--content {
                @include flexbox(flex, space-around, center, column);
                width: 50%;
                & img {
                    margin-bottom: 5px;
                }
                & p {
                    text-align: justify;
                    font-size: 14px;
                    line-height: 1.2;
                }
            }
        }
    }
    .specification2 {
        &__center {
            width: 45%;
            top: -90%;
            margin-left: 10%;
            margin-right: 0%;
            &--title {
                line-height: 1.8;
                font-size: 18px;
            }
            &--div {
                line-height: 1.7;
                @include flexbox(flex, center, flex-start, row);
            }
        }
    }
    .interface {
        height: 110vh;
        @include flexbox(flex, center, center, column);
        &__img {
            width: 100%;
            height: 40%;
            background-color: black;
            &--img {
                margin-left: 25%;
                width: 50%;
                height: 100%;
            }
        }
        &__content {
            padding-top: 10px;
            height: 60%;
            width: 100%;
            &--text {
                width: 80%;
                color: $white-color;
                line-height: 1.5;
                & h2 {
                    font-size: 18px;
                    line-height: 1.6;
                }
                & p {
                    font-size: 16px;
                    line-height: 1.5;
                    text-align: justify;
                }
            }
        }
    }
    .head {
        width: 100%;
        height: 120vh;
        background: #232526;
        background: -webkit-linear-gradient(to top, #000000, #232526);
        background: linear-gradient(to top, #000000, #232526);
        @include flexbox(flex, center, center, column);
        &__content {
            margin-top: -170px;
            @include flexbox(flex, center, center, column);
            width: 100%;
            height: 50%;
            &--text {
                width: 80%;
                line-height: 1.5;
                & span {
                    color: lightgray;
                }
                & h2 {
                    color: $white-color;
                    font-size: 16px;
                    line-height: 1.6;
                }
                & p {
                    color: lightgray;
                    font-size: 14px;
                    text-align: left;
                }
            }
        }
        &__slider {
            margin-top: -50px;
            margin-left: 9%;
            width: 80%;
            height: 50%;
            &--items {
                width: 90%;
            }
        }
    }
    .system {
        width: 100%;
        height: 120vh;
        @include flexbox(flex, center, center, column);
        background-color: black;
        &__content {
            margin-bottom: 50px;
            @include flexbox(flex, center, center, column);
            width: 100%;
            height: 40%;
            &--text {
                width: 80%;
                line-height: 1.5;
                & span {
                    color: lightgray;
                }
                & h2 {
                    color: $white-color;
                    font-size: 18px;
                    line-height: 2;
                }
                & p {
                    color: lightgray;
                    font-size: 14px;
                    text-align: left;
                }
            }
        }
        &__slider {
            margin-top: 30px;
            margin-bottom: 00px;
            @include flexbox(flex, flex-end, center, column);
            width: 80%;
            height: 50%;
            &--items {
                width: 90%;
            }
        }
    }
    .materials {
        width: 100%;
        height: 90vh;
        &__content {
            @include flexbox(flex, center, flex-start, column);
            position: relative;
            width: 95%;
            top: -95%;
            margin-left: 12%;
            margin-right: -48%;
            &--text {
                width: 80%;
                line-height: 1.5;
                & span {
                    color: lightgray;
                }
                & h2 {
                    color: $white-color;
                    font-size: 18px;
                    line-height: 2;
                }
                & p {
                    color: lightgray;
                    font-size: 15px;
                    text-align: left;
                }
            }
            &--img {
                @include flexbox(flex, space-between, center, row);
                & img {
                    width: 95px;
                    height: 95px;
                }
            }
        }
    }
    .living {
        width: 100%;
        height: 110vh;
        background-color: #444949;
        position: relative;
        &__title {
            width: 50%;
            margin-left: 25%;
            margin-top: 5%;
            margin-top: 20px;
            position: absolute;
            & h2 {
                color: $white-color;
                font-size: 18px;
                line-height: 1.5;
                text-align: center;
            }
        }
        &__center {
            margin-top: 70px;
            position: absolute;
            @include flexbox(flex, center, center, column);
            &--boxs {
                @include flexbox(flex, flex-start, center, column);
                margin-top: 5%;
                width: 80%;
                & img {
                    width: 50px;
                    height: 50px;
                }
                & h3 {
                    margin-top: 15px;
                    color: lightgray;
                    font-size: 16px;
                    line-height: 1.5;
                }
                & p {
                    font-size: 14px;
                    color: lightgray;
                    line-height: 1.3;
                    text-align: center;
                }
            }
        }
    }
    .gallery {
        width: 100%;
        height: 60vh;
        background-color: #1c1c1c;
        &__title {
            @include flexbox(flex, center, center, row);
            height: 10%;
            width: 100%;
            &--text {
                color: $white-color;
                font-size: 22px;
                line-height: 2;
            }
        }
        &__slider {
            margin: 0px auto;
            width: 99%;
            height: 99%;
            &--items {
                & .slide {
                    @include flexbox(flex, center, space-between, row);
                    width: 100%;
                    & .left__big {
                        @include flexbox(flex, center, center, row);
                        &--left {
                            height: 100%;
                            width: 45%;
                        }
                    }
                    & .left__small {
                        @include flexbox(flex, space-between, center, column);
                        &--top {
                            height: 45%;
                            width: 45%;
                        }
                        &--bottom {
                            height: 45%;
                            width: 45%;
                        }
                    }
                    & .right__big {
                        @include flexbox(flex, center, center, row);
                        &--right {
                            height: 100%;
                            width: 45%;
                        }
                    }
                    & .right__small {
                        @include flexbox(flex, space-between, center, column);
                        &--top {
                            height: 45%;
                            width: 45%;
                        }
                        &--bottom {
                            height: 45%;
                            width: 45%;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-device-width: $breakpoint-phonesL) and (min-device-width: $breakpoint-phones) {
    .wrapper {
        &__content {
            width: 280px;
            right: 5%;
            & h2 {
                font-size: 18px;
                line-height: 1.6;
            }
            & p {
                line-height: 1.3;
                font-size: 14px;
            }
        }
    }
    .vector {
        height: 60vh;
        @include flexbox(flex, space-around, center, column);
        &__content {
            @include flexbox(flex, center, flex-start, column);
            width: 80%;
            & img {
                margin-top: 5%;
                margin-bottom: 5%;
            }
            & p {
                font-size: 16px;
            }
        }
        &__link {
            margin-left: -0%;
            &--div {
                line-height: 2;
            }
        }
    }
    .philosophy {
        &__center {
            position: relative;
            width: 54%;
            top: -95%;
            margin-left: 12%;
            & h2 {
                font-size: 16px;
                line-height: 1.5;
            }
            & p {
                font-size: 14px;
                line-height: 1.2;
            }
        }
    }
    .specification {
        &__title {
            @include flexbox(flex, center, center, row);
            position: relative;
            width: 34%;
            top: -90%;
            width: 50%;
            margin-left: 25%;
            margin-right: -25%;
            & h2 {
                font-size: 24px;
            }
        }
        &__bottom {
            @include flexbox(flex, center, center, row, wrap);
            width: 100%;
            top: -45%;
            margin-left: 0%;
            margin-right: 0%;
            &--content {
                @include flexbox(flex, space-around, center, column);
                width: 50%;
                & img {
                    margin-bottom: 5px;
                }
                & p {
                    text-align: justify;
                    font-size: 12px;
                    line-height: 1.2;
                }
            }
        }
    }
    .specification2 {
        &__center {
            width: 45%;
            top: -90%;
            margin-left: 10%;
            margin-right: 0%;
            &--title {
                line-height: 1.5;
                font-size: 18px;
            }
            &--div {
                line-height: 1.5;
                @include flexbox(flex, center, flex-start, row);
            }
        }
    }
    .interface {
        height: 110vh;
        @include flexbox(flex, center, center, column);
        &__img {
            width: 100%;
            height: 40%;
            background-color: black;
            &--img {
                margin-left: 25%;
                width: 50%;
                height: 100%;
            }
        }
        &__content {
            padding-top: 10px;
            height: 60%;
            width: 100%;
            &--text {
                width: 80%;
                color: $white-color;
                line-height: 1.5;
                & h2 {
                    font-size: 18px;
                    line-height: 1.4;
                }
                & p {
                    font-size: 14px;
                    line-height: 1.3;
                    text-align: justify;
                }
            }
        }
    }
    .head {
        width: 100%;
        height: 120vh;
        background: #232526;
        background: -webkit-linear-gradient(to top, #000000, #232526);
        background: linear-gradient(to top, #000000, #232526);
        @include flexbox(flex, center, center, column);
        &__content {
            margin-top: 50px;
            @include flexbox(flex, center, center, column);
            width: 100%;
            height: 50%;
            &--text {
                width: 80%;
                line-height: 1.5;
                & span {
                    color: lightgray;
                }
                & h2 {
                    color: $white-color;
                    font-size: 16px;
                    line-height: 1.6;
                }
                & p {
                    color: lightgray;
                    font-size: 12px;
                    text-align: left;
                }
            }
        }
        &__slider {
            margin-top: 70px;
            margin-left: 9%;
            width: 80%;
            height: 50%;
            &--items {
                width: 90%;
            }
        }
    }
    .system {
        width: 100%;
        height: 120vh;
        @include flexbox(flex, center, center, column);
        background-color: black;
        &__content {
            margin-bottom: 100px;
            @include flexbox(flex, center, center, column);
            width: 100%;
            height: 40%;
            &--text {
                width: 80%;
                line-height: 1.5;
                & span {
                    color: lightgray;
                }
                & h2 {
                    color: $white-color;
                    font-size: 18px;
                    line-height: 2;
                }
                & p {
                    color: lightgray;
                    font-size: 14px;
                    text-align: left;
                }
            }
        }
        &__slider {
            margin-top: -80px;
            margin-bottom: 100px;
            @include flexbox(flex, flex-end, center, column);
            width: 80%;
            height: 50%;
            &--items {
                width: 90%;
            }
        }
    }
    .materials {
        width: 100%;
        height: 90vh;
        &__content {
            @include flexbox(flex, center, flex-start, column);
            position: relative;
            width: 95%;
            top: -95%;
            margin-left: 12%;
            margin-right: -48%;
            &--text {
                width: 80%;
                line-height: 1.5;
                & span {
                    color: lightgray;
                }
                & h2 {
                    color: $white-color;
                    font-size: 18px;
                    line-height: 2;
                }
                & p {
                    color: lightgray;
                    font-size: 14px;
                    text-align: left;
                }
            }
            &--img {
                @include flexbox(flex, space-between, center, row);
                & img {
                    width: 60px;
                    height: 60px;
                }
            }
        }
    }
    .living {
        width: 100%;
        height: 110vh;
        background-color: #444949;
        position: relative;
        &__title {
            width: 50%;
            margin-left: 25%;
            margin-top: 5%;
            margin-top: 20px;
            position: absolute;
            & h2 {
                color: $white-color;
                font-size: 18px;
                line-height: 1.5;
                text-align: center;
            }
        }
        &__center {
            margin-top: 70px;
            position: absolute;
            @include flexbox(flex, center, center, column);
            &--boxs {
                @include flexbox(flex, flex-start, center, column);
                margin-top: 5%;
                width: 80%;
                & img {
                    width: 50px;
                    height: 50px;
                }
                & h3 {
                    margin-top: 15px;
                    color: lightgray;
                    font-size: 16px;
                    line-height: 1.5;
                }
                & p {
                    font-size: 14px;
                    color: lightgray;
                    line-height: 1.3;
                    text-align: center;
                }
            }
        }
    }
    .gallery {
        width: 100%;
        height: 50vh;
        background-color: #1c1c1c;
        &__title {
            @include flexbox(flex, center, center, row);
            height: 10%;
            width: 100%;
            &--text {
                color: $white-color;
                font-size: 22px;
                line-height: 2;
            }
        }
        &__slider {
            margin: 0px auto;
            width: 99%;
            height: 99%;
            &--items {
                & .slide {
                    @include flexbox(flex, center, space-between, row);
                    width: 100%;
                    & .left__big {
                        @include flexbox(flex, center, center, row);
                        &--left {
                            height: 100%;
                            width: 45%;
                        }
                    }
                    & .left__small {
                        @include flexbox(flex, space-between, center, column);
                        &--top {
                            height: 45%;
                            width: 45%;
                        }
                        &--bottom {
                            height: 45%;
                            width: 45%;
                        }
                    }
                    & .right__big {
                        @include flexbox(flex, center, center, row);
                        &--right {
                            height: 100%;
                            width: 45%;
                        }
                    }
                    & .right__small {
                        @include flexbox(flex, space-between, center, column);
                        &--top {
                            height: 45%;
                            width: 45%;
                        }
                        &--bottom {
                            height: 45%;
                            width: 45%;
                        }
                    }
                }
            }
        }
    }
}
