<div class="conteiner" [style.transform]="menuActive">
  <section class="wrapper">
    <img class="wrapper__img" src="assets/images/133A9983-Edit-brotate-1.png" alt="moto">
    <div class="wrapper__content">
      <h2 data-aos="fade-left" data-aos-duration="1000">TAKE A DIFFERENT ROAD</h2>
      <p data-aos="fade-left" data-aos-duration="1000">Arc. A team of ground breaking British designers and engineers
        pioneering electric
        machines</p>
    </div>
  </section>
  <section class="discover">
    <div class="discover__content">
      <h2 data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="300" data-aos-offset="0">DISCOVER
        VECTOR</h2>
      <p data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="600" data-aos-offset="0">The Arc Vector
        is the most advanced electric
        motorcycle ever brought to market; one which utilises exotic
        materials,
        thoroughbred componentry, cutting-edge architecture and technological innovations that have never been
        applied
        to
        two-wheeled transport before.</p>
    </div>
    <div class="discover__link" data-aos="fade-up" data-aos-anchor-placement="center-bottom">
      <a href="#">Read More</a>
      <img src="assets/images/bullet-point.svg" alt="...">
    </div>
  </section>
  <section class="family">
    <div class="family__img">
      <img src="assets/images/Join_The_Arc_Family-1.jpg" alt="">
    </div>
    <div class="family__content">
      <div class="family__content--text">
        <h2 data-aos="fade-left" data-aos-duration="800">JOIN THE ARC FAMILY</h2>
        <p data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="500" data-aos-offset="0">Arc is a
          catalyst, a transformative movement that is on a mission to explore Earth in state-of-the-art
          style,
          combined
          with a promise to try and protect it. Arc is a business that will challenge the rider's way of seeing
          and thinking,
          and
          one that shapes the world around it.</p><br>
        <p data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="600" data-aos-offset="0">Arc redefine
          the electric vehicle and the processes by which they are made. Not content with this, Arc
          challenge the
          way
          that companies do business. Arc is a family, a community – not only its colleagues and collaborators,
          but this
          family
          extends to our customers and all likeminded people that share the Arc philosophy.</p>
      </div>
      <div class="family__content--link">
        <a href="#">Read More</a>
        <img src="assets/images/bullet-point.svg" alt="...">
      </div>
    </div>
  </section>
  <section class="vector">
    <div class="vector__title">
      <h2 data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="500" data-aos-offset="0">VECTOR</h2>
      <p data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="800" data-aos-offset="0">The world's
        most innovative motorcycle</p>
    </div>
    <div class="vector__image"></div>
    <div class="vector__main">
      <span data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="300" data-aos-offset="0">
        <img src="assets/images/bullet-point.svg" alt="...">
        <p>Charge time - 40min</p>
      </span>
      <span data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="500" data-aos-offset="0">
        <img src="assets/images/bullet-point.svg" alt="...">
        <p>Limited edition - 399 motorcycles</p>
      </span>
      <span data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="700" data-aos-offset="0">
        <img src="assets/images/bullet-point.svg" alt="...">
        <p>Voltage - 399V</p>
      </span>
      <span data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="900" data-aos-offset="0">
        <img src="assets/images/bullet-point.svg" alt="...">
        <p>Battery capacity - 16.8kWh</p>
      </span>
      <span data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="1100" data-aos-offset="0">
        <img src="assets/images/bullet-point.svg" alt="...">
        <p>Weight - 220kg</p>
      </span>
      <span data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="1300" data-aos-offset="0">
        <img src="assets/images/bullet-point.svg" alt="...">
        <p>Range - 436km (NEDC cycle)</p>
      </span>
      <span data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="1500" data-aos-offset="0">
        <img src="assets/images/bullet-point.svg" alt="...">
        <p>Top speed - limited to 200kmph</p>
      </span>
    </div>
    <div class="vector__bottom">
      <p>A game changing, fully integrated, human machine interface (HMI)</p>
    </div>
    <div class="vector__btn">
      <a href="#" class="vector__btn--hover"><span>RESERVE MY VECTOR</span></a>
    </div>
  </section>
  <section class="individual">
    <div class="individual__image"></div>
    <div class="individual__center">
      <h2>A BIKE AS INDIVIDUAL AS YOU ARE</h2>
      <p>The Arc Vector is a beautiful combination of the finest materials: a perfect balance of sustainability,
        performance and
        aesthetic mastery that reflects the Arc philosophy. Forensic attention to detail ensures every piece is
        optimised for
        purpose, resulting in the purest, most balanced design possible.</p><br>
      <p>Arc has a close relationship with all its customers. The entire package is made to order; the bike, the
        helmet and the
        jacket all being tailored to fit the customer, with a choice of colours, materials and optional design
        features.
        Bespoking is available, within reason, at the standard list price.</p>
    </div>
    <div class="individual__right">
      <div class="individual__right--top">
        <img src="assets/images/bullet-point.svg" alt="...">
        <p>Each Vector will be unique to it's owner</p>
      </div>
      <div class="individual__right--bottom">
        <img src="assets/images/bullet-point.svg" alt="...">
        <p>Tailoring session with Arc design team to finalise your design</p>
      </div>
    </div>
  </section>
  <section class="adventure">
    <div class="adventure__image"></div>
    <div class="adventure__content">
      <p>It's an adventure. A detour.<br>
        It's not for everyone.<br>
        Our road is uncompromising.<br>
        Like us.<br>
        The spirited. Inventing, crafting, refining.<br>
        Chasing perfection.<br>
        We cross terrains. Conquer frontiers.<br>
        For us. For you. For our planet.<br>
        Our road is a different road.</p>
    </div>
  </section>
  <section class="about">
    <div class="about__content">
      <h2>ABOUT ARC</h2>
      <p>Based in Coventry, England, at the heart of the UK's global-leading High-Performance Automotive Engineering
        cluster, the
        idea for Arc was born out of Jaguar Land Rover's White Space 'skunk works', an innovation lab previously
        headed by Mark
        Truman.</p><br>
      <p>4 years on and Arc are now a global team of industry experts in their respective fields, forging a different
        road for
        the way that vehicles are created and delivered to their owners.</p>
    </div>
    <div class="about__image"></div>
  </section>
  <section class="news">
    <div class="news__image"></div>
    <div class="news__content">
      <div class="news__content--img">
        <img class="img" [attr.src]="news[0].image" alt="x-image">
      </div>
      <div class="news__content--text">
        <span>News | <span>{{ news[0].date }}</span></span>
        <h2>{{ news[0].title }}</h2>
        <p>{{ news[0].text }}</p>
      </div>
    </div>
  </section>
</div>