<section class="wrapper">
    <img class="wrapper__img" src="assets/images/133A9983-Edit-brotate-1.png" alt="moto">
    <div class="wrapper__content">
        <h2 data-aos="fade-left">TAKE A DIFFERENT ROAD</h2>
        <p data-aos="fade-up">Arc. A team of ground breaking British designers and engineers pioneering electric
            machines</p>
    </div>
</section>
<section class="discover">
    <div class="discover__content">
        <h2 data-aos="fade-up" data-aos-anchor-placement="top-bottom">DISCOVER VECTOR</h2>
        <p data-aos="fade-up" data-aos-anchor-placement="top-bottom">The Arc Vector is the most advanced electric
            motorcycle ever brought to market; one which utilises exotic
            materials,
            thoroughbred componentry, cutting-edge architecture and technological innovations that have never been
            applied
            to
            two-wheeled transport before.</p>
    </div>
    <div class="discover__link" data-aos="fade-up" data-aos-anchor-placement="center-bottom">
        <a href="#">Read More</a>
        <img src="assets/images/bullet-point.svg" alt="...">
    </div>
</section>
<section class="family">
    <div class="family__img">
        <img src="assets/images/Join_The_Arc_Family-1.jpg" alt="">
    </div>
    <div class="family__content">
        <div class="family__content--text">
            <h2>JOIN THE ARC FAMILY</h2>
            <p>Arc is a catalyst, a transformative movement that is on a mission to explore Earth in state-of-the-art
                style,
                combined
                with a promise to try and protect it. Arc is a business that will challenge the rider's way of seeing
                and thinking,
                and
                one that shapes the world around it.</p><br>
            <p>Arc redefine the electric vehicle and the processes by which they are made. Not content with this, Arc
                challenge the
                way
                that companies do business. Arc is a family, a community – not only its colleagues and collaborators,
                but this
                family
                extends to our customers and all likeminded people that share the Arc philosophy.</p>
        </div>
        <div class="family__content--link">
            <a href="#">Read More</a>
            <img src="../../../assets/images/bullet-point.svg" alt="...">
        </div>
    </div>
</section>
<section class="vector">
    <div class="vector__title"></div>
    <div class="vector__image">
        <img src="../../../assets/images/vw-most-innovative-motorcycle1.png" alt="...">
    </div>
</section>