@import "../../../assets/base/mixins";
@import "../../../assets/base/variables";

.conteiner {
    user-select: none;
    transition: transform 1s;
}

.wrapper {
    overflow: hidden;
    &__img {
        width: 100vw;
        height: 99.7vh;
        object-fit: cover;
        box-shadow: 0px 4px 2px 2px black;
    }
    &__content {
        width: 430px;
        top: 10%;
        right: 12%;
        position: absolute;
        color: $white-color;
        & h2 {
            font-size: 30px;
            line-height: 2;
            text-align: end;
        }
        & p {
            line-height: 1.5;
            font-size: 20px;
        }
    }
}

.discover {
    box-shadow: 0px 4px 2px 2px black;
    height: 40vh;
    background-color: #444949;
    @include flexbox(flex, space-around, center, row);
    &__content {
        @include flexbox(flex, center, flex-start, column);
        width: 40%;
        & h2 {
            font-size: 24px;
            color: $white-color;
            line-height: 2;
        }
        & p {
            color: $white-color;
            font-size: 18px;
            line-height: 1.5;
            text-align: justify;
        }
    }
    &__link {
        margin-top: 100px;
        @include flexbox(flex, center, center, row);
        & a {
            color: $white-color;
            text-decoration: none;
            &:hover {
                color: lightgrey;
            }
        }
        & img {
            margin-left: 5px;
            height: 20px;
            width: 20px;
        }
    }
}

.family {
    margin-top: 3px;
    width: 100%;
    height: 80vh;
    box-shadow: 0px 4px 2px 2px black;
    @include flexbox(flex, center, center, row);
    &__img {
        width: 50%;
        height: 80vh;
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__content {
        @include flexbox(flex, center, center, column);
        background-color: #1e2121;
        height: 100%;
        width: 70%;
        &--text {
            width: 60%;
            color: $white-color;
            line-height: 1.5;
            & h2 {
                font-size: 26px;
                line-height: 2;
            }
            & p {
                font-size: 18px;
                text-align: justify;
            }
        }
        &--link {
            margin-top: 80px;
            width: 60%;
            @include flexbox(flex, flex-end, center, row);
            & a {
                color: $white-color;
                text-decoration: none;
                &:hover {
                    color: lightgrey;
                }
            }
            & img {
                margin-left: 5px;
                height: 20px;
                width: 20px;
            }
        }
    }
}

.vector {
    background-color: black;
    width: 100%;
    height: 110vh;
    box-shadow: 0px 4px 2px 2px black;
    &__title {
        width: 330px;
        margin: 0px auto;
        position: relative;
        color: $white-color;
        & h2 {
            padding-top: 20px;
            text-align: center;
            font-size: 28px;
            line-height: 2;
        }
        & p {
            text-align: center;
            font-size: 18px;
        }
    }
    &__image {
        margin: 0px auto;
        width: 80%;
        height: 80%;
        background-image: url(../../../assets/images/vw-most-innovative-motorcycle1.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    &__main {
        width: 15%;
        min-height: 350px;
        margin-left: 75%;
        margin-top: -550px;
        position: relative;
        & span {
            margin-bottom: 20px;
            @include flexbox(flex, flex-start, flex-end, row);
            color: lightgrey;
            img {
                margin-right: 5px;
                height: 20px;
                width: 20px;
            }
        }
    }
    &__bottom {
        margin-top: 100px;
        margin-bottom: 50px;
        margin-left: 35%;
        & p {
            color: $white-color;
            font-size: 18px;
        }
    }
    &__btn {
        margin-left: 42%;
        & a {
            text-decoration: none;
            font-size: 26px;
            text-align: center;
            cursor: pointer;
            padding: 5px;
        }
        &--hover {
            color: brown;
            transition: all 0.3s;
            position: relative;
        }
        &--hover span {
            transition: all 0.3s;
        }
        &--hover::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            opacity: 0;
            transition: all 0.3s;
            border-top-width: 1px;
            border-bottom-width: 1px;
            border-top-style: solid;
            border-bottom-style: solid;
            border-top-color: rgba(255, 255, 255, 0.5);
            border-bottom-color: rgba(255, 255, 255, 0.5);
            transform: scale(0.1, 1);
        }
        &--hover:hover::before {
            opacity: 1;
            transform: scale(1, 1);
        }
        &--hover::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            transition: all 0.3s;
            background-color: inherit;
        }
        &--hover:hover::after {
            opacity: 0;
            transform: scale(0.1, 1);
        }
    }
}

.individual {
    width: 100%;
    height: 100vh;
    &__image {
        width: 100%;
        height: 100%;
        background-image: url(../../../assets/images/a-bike-as-individual-img.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    &__center {
        position: relative;
        width: 34%;
        top: -70%;
        margin-left: 35%;
        margin-right: -35%;
        color: $white-color;
        & h2 {
            font-size: 28px;
            line-height: 2;
        }
        & p {
            font-size: 18px;
            line-height: 1.5;
        }
    }
    &__right {
        position: relative;
        top: -110%;
        width: 10%;
        margin-left: 75%;
        margin-right: -10%;
        color: lightgrey;
        &--top {
            @include flexbox(flex, center, flex-start, row);
            margin-bottom: 50px;
            & img {
                margin-right: 5px;
                height: 20px;
                width: 20px;
            }
        }
        &--bottom {
            @include flexbox(flex, center, flex-start, row);
            & img {
                margin-right: 5px;
                height: 20px;
                width: 20px;
            }
        }
    }
}

.adventure {
    width: 100%;
    height: 100vh;
    &__image {
        width: 100%;
        height: 100%;
        background-image: url(../../../assets/images/it-is-an-adventure.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    &__content {
        width: 30%;
        top: -95%;
        margin-left: 35%;
        margin-right: -35%;
        color: $white-color;
        position: relative;
        text-align: center;
        & p {
            font-size: 26px;
            line-height: 2.2;
        }
    }
}

.about {
    box-shadow: 0px 4px 2px 2px black;
    height: 50vh;
    background-color: #3b3d3d;
    @include flexbox(flex, space-between, center, row);
    &__content {
        @include flexbox(flex, center, flex-start, column);
        width: 40%;
        margin-left: 12%;
        & h2 {
            font-size: 24px;
            color: $white-color;
            line-height: 2;
        }
        & p {
            color: $white-color;
            font-size: 18px;
            line-height: 1.5;
            text-align: justify;
        }
    }
    &__image {
        background-image: url(../../../assets/images/people-behind-arc-imgv3.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 35%;
        height: 100%;
    }
}

.news {
    @include flexbox(flex, center, center, row);
    margin-top: 3px;
    box-shadow: 0px 4px 2px 2px black;
    height: 80vh;
    width: 100%;
    &__image {
        height: 100%;
        width: 50%;
        background-image: url(../../../assets/images/Goodwood_Logo_arc-vector-electric-motorbike-fullres-Regualr-1.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 50%;
        height: 100%;
    }
    &__content {
        height: 100%;
        width: 50%;
        @include flexbox(flex, center, center, column);
        &--img{
            width: 100%;
            height: 50%;
            & img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &--text{
            width: 100%;
            height: 50%;
            @include flexbox(flex, center, center, column);
            & h2{
                font-size: 22px;
            }
            & p{
                font-size: 18px;
                width: 60%;
            }
        }
    }
}

@media screen and (max-device-width: 1430px) and (min-device-width: 988px) {
    .wrapper {
        &__content {
            & h2 {
                font-size: 24px;
            }
            & p {
                font-size: 18px;
            }
        }
    }
    .discover {
        &__content {
            & h2 {
                font-size: 22px;
            }
            & p {
                font-size: 16px;
            }
        }
    }
    .family {
        &__content {
            height: 100%;
            width: 70%;
            &--text {
                width: 70%;
                color: $white-color;
                line-height: 1.5;
                & h2 {
                    font-size: 22px;
                    line-height: 2;
                }
                & p {
                    font-size: 16px;
                    text-align: justify;
                }
            }
        }
    }
    .vector {
        &__title {
            & h2 {
                padding-top: 15px;
                text-align: center;
                font-size: 22px;
                line-height: 1.5;
            }
            & p {
                text-align: center;
                font-size: 16px;
            }
        }
        &__main {
            width: 15%;
            min-height: 350px;
            margin-left: 75%;
            margin-top: -550px;
            position: relative;
            & span {
                margin-bottom: 12px;
                img {
                    margin-right: 5px;
                    height: 20px;
                    width: 20px;
                }
            }
        }
        &__bottom {
            margin-top: 70px;
            margin-bottom: 50px;
            margin-left: 25%;
            & p {
                color: $white-color;
                font-size: 18px;
            }
        }
        &__btn {
            margin-left: 37%;
            & a {
                font-size: 22px;
            }
        }
    }
    .individual {
        &__center {
            top: -90%;
            & h2 {
                font-size: 22px;
                line-height: 2;
            }
            & p {
                font-size: 16px;
                line-height: 1.5;
            }
        }
        &__right {
            top: -140%;
            width: 15%;
        }
    }
    .adventure {
        &__content {
            top: -90%;
            & p {
                font-size: 22px;
                line-height: 2;
            }
        }
    }
    .about {
        &__content {
            width: 43%;
            & h2 {
                font-size: 22px;
            }
            & p {
                font-size: 16px;
            }
        }
    }
}

@media screen and (max-device-width: 980px) and (min-device-width: $breakpoint-tablet) {
    .wrapper {
        &__content {
            width: 300px;
            & h2 {
                font-size: 20px;
            }
            & p {
                font-size: 16px;
            }
        }
    }
    .discover {
        &__content {
            width: 60%;
            & h2 {
                font-size: 20px;
            }
            & p {
                font-size: 16px;
            }
        }
        &__link {
            margin-top: 150px;
        }
    }

    .family {
        height: 100vh;
        @include flexbox(flex, center, center, column);
        &__img {
            width: 100%;
            height: 40%;
        }
        &__content {
            height: 60%;
            width: 100%;
            &--text {
                width: 60%;
                color: $white-color;
                line-height: 1.5;
                & h2 {
                    font-size: 20px;
                    line-height: 2;
                }
                & p {
                    font-size: 16px;
                }
            }
            &--link {
                margin-top: 0px;
            }
        }
    }

    .vector {
        &__title {
            width: 300px;
            & h2 {
                padding-top: 18px;
                font-size: 20px;
            }
            & p {
                font-size: 16px;
            }
        }
        &__main {
            width: 25%;
            min-height: 300px;
            & span {
                margin-bottom: 10px;
            }
        }
        &__bottom {
            margin-left: 20%;
            & p {
                color: $white-color;
                font-size: 18px;
            }
        }
        &__btn {
            margin-left: 37%;
            & a {
                font-size: 20px;
            }
        }
    }
    .individual {
        &__center {
            position: relative;
            width: 34%;
            top: -90%;
            margin-left: 45%;
            margin-right: -20%;
            & h2 {
                font-size: 20px;
            }
            & p {
                font-size: 16px;
            }
        }
        &__right {
            top: -180%;
            width: 20%;
            margin-left: 10%;
            margin-right: -60;
        }
    }

    .adventure {
        &__content {
            width: 40%;
            top: -90%;
            margin-left: 30%;
            margin-right: -30%;
            & p {
                font-size: 20px;
                line-height: 2;
            }
        }
    }

    .about {
        height: 60vh;
        &__content {
            width: 50%;
            margin-left: 10%;
            & h2 {
                font-size: 20px;
            }
            & p {
                font-size: 16px;
            }
        }
    }

    .news {
        @include flexbox(flex, center, center, column);
        height: 100vh;
        width: 100%;
        &__image {
            height: 60%;
            width: 100%;
            & img {
                width: 100%;
                height: 100%;
                background-image: url(../../../assets/images/Goodwood_Logo_arc-vector-electric-motorbike-fullres-Regualr-1.jpg);
                object-fit: cover;
            }
        }
    }
}

@media screen and (max-device-width: $breakpoint-tablet) and (min-device-width: $breakpoint-phones) {
}
